@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  font-family: "Roboto";
  background: rgb(238, 234, 234);
}

@font-face {
  font-family: HyliaSerif;
  src: url("HyliaSerif.ttf") format("opentype");
}

h1{
  font-family: "HyliaSerif";
  letter-spacing: 4px;
}